.cursor {
    cursor: pointer;
    color: white;
}

.color-nav {
    background-color:cornflowerblue;
}

.text-decorator-none{
    text-decoration: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}
